.download {
  padding: var(--app-block-padding);
  padding: 0px 0px 0px 98px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: black;
  /* width:1347px; */
  /* width: 100%; */
}

.download-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 45%;
}

.download-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.download-text1 span {
  color: #c70000;
  font-size: 3.6rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.download-text1 h2 {
  font-size: 3.6rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.download-text1 p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #4b4b4b;
}

.download-logo {
  width: 100%;
}

.download-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 54px;
  width: 65%;
  gap: 20px;
}

.download-logo .google-play-store {
  width: 182px;
  border-radius: 6.75px;
}

.download-logo .apple-store {
  width: 162px;
  border-radius: 9.45px;
}

.download-img {
  /* width: 50%; */
  height: auto;
  width: 40.75rem;
  /* height: 55.6875rem; */
}

.download-img .phone {
  /* width: 43.75rem;
        height: 55.6875rem; */

  width: 100%;
  height: auto;
}

/* Media queries for smaller screens */

@media screen and (max-width: 768px) {
  .download {
    flex-direction: column;
    padding: 50px 20px; /* Adjust padding for smaller screens */
    gap: 30px;
  }

  .download-text {
    gap: 10px; /* Reduce the gap between elements for smaller screens */
    width: 100%;
    align-items: center;
  }

  .download-text1 {
    align-items: center;
  }

  .download-text1 p {
    text-align: center;
    font-size: 1rem;
  }

  .download-logo {
    width: 100%; /* Reduce logo container width for smaller screens */
  }

  .download-logo img {
    max-width: 90px; /* Reduce logo container width for smaller screens */
  }

  .download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .download-img {
    max-width: 300px; /* Adjust maximum image width for smaller screens */
  }

  .download-img .phone {
    width: 100%; /* Adjust phone image width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .download-text1 span,
  .download-text1 h2 {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }
}
