/*Menu.jsx style  */
/* .product{

}

.products-display{

} */

/* ProductDisplay Style */

* {
  margin: 0;
  padding: 0;
}

.product-container {
  font-family: Montserrat;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 15% 4% 15%;
  align-items: center;
  justify-content: center;
}

.category-list ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.category-list li {
  width: 20%;
  font-size: 1rem;
  font-weight: 500;
  color: #4b4b4b;
  cursor: pointer;
}

/* .category-list li:hover{
color: #d97706;
} */

.category-list li:visited {
  color: #d97706;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.product-item {
  width: 20%;
  height: fit-content;
  margin: 20px;
  /* text-align: center; */
  position: relative;
  background-color: #fdf4e2;
  border-radius: 10px;
}

.product-item:hover {
  transform: scale(1.03);
}

.product-item-container {
  padding: 0px 2px;
}

.product-desc {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  border-radius: 8px 8px 0 0; /* top-left, top-right, bottom-right, bottom-left */
}

.product-name {
  margin-top: 10px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
  color: #1e1e1e;
}

.product-subtitle {
  font-size: 0.8rem;
  color: #4b4b4b;
  margin-bottom: 0;
}

.product-price {
  font-size: 1.2rem;
  color: #d97706;
}
.favourite-icon {
  font-size: 25px;
  cursor: pointer;
  padding: 1px;
}

/* .favourite-icon:hover {
  background-color: #9a0000;
} */
/* .add-to-cart1 {
  position: absolute;
  top: 10px;
  right: 50px;
  fill: #c70000;
  color: white;
  outline: #c70000;
  border-color: #c70000;

  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.add-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c70000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex; /* Add display flex */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  transition: 0.2s transform ease-in-out;
}

.add-to-cart:hover {
  color: white;
  background-color: #5e0303;
  border: 2px solid transparent;

  transform: scale(1.05);
  /* will-change: transform; */
}

.add-to-cart::after {
  transform: translate(0, 0);
}

.side-cart-filled {
  border: 1px solid #d38020;;
  padding: 20px;
}

.side-cart-filled ul li {
  list-style: none;
}

/* cart alert pop up  */
#custom-toast {
  background-color: #12b76a;
  color: white;
  /* padding: 20px;  */
  border-radius: 8px;
}

.checkout-btn {
  background-color: #8d0000;
  color: white;
  padding: 6px 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 600;
}

.cart-item {
  margin-bottom: 20px; /* Add margin to create space between each cart item */
}

.cart-item-image {
  margin-right: 20px; /* Add margin to create space between image and other contents */
}

.cart-item-details {
  flex-grow: 1; /* Ensure the details take up remaining space */
}

.cart-item-controls {
  margin-top: 10px;
}

.cart-item-controls button {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d38020;
  cursor: pointer;
  /* margin-right: 5px; */
}

.cart-item-controls button:hover {
  background-color: #d97706;
}

.cart-item-controls addItem {
  margin-left: 10px;
}

.cart-item-controls span {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
.cart-item-controls removeItem {
  margin-right: 8px;
}

.cart-item-controls button:hover {
  background-color: #eaeaea;
}

.control-button {
  margin-right: 10px; /* Add margin to create space between buttons and quantity */
}
