@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Hanken+Grotesk:ital,wght@0,800;1,500;1,700&family=Inter:wght@400;700;800&family=Lexend+Deca&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,700;1,100;1,400;1,500;1,700&family=Volkhov:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

:root {
  --app-block-padding: 0px 40px;
  --app-block-background: black;
  --app-secondary-background: F7F7F7;
  --app-primary-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.navbar li {
  cursor: pointer;
}
